<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.myandroid">

    <!-- 读取Log -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 百度地图权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/FullScreen"   全屏 -->
        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <!-- 基类 -->
        <activity
            android:name=".ui.BaseActivity"
            android:windowSoftInputMode="adjustPan" />
        <!-- 设置 -->
        <activity android:name=".ui.SettingActivity" />
        <!-- 初始页  welcome -->
        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GuideActivity"
            android:label="引导页"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:label="忘记密码" />
        <activity
            android:name=".ui.RegisteredActivity"
            android:label="更改信息" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="登录"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.CourierActivity"
            android:label="物流查询" />
        <activity
            android:name=".ui.PhoneActivity"
            android:label="归属地查询" />
        <activity android:name=".ui.WebViewActivity" />
        <activity
            android:name=".ui.QrCodeActivity"
            android:label="生成二维码" />

        <service
            android:name=".service.SmsService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.UpdateActivity" />
        <activity android:name=".ui.LocationActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XQ222EUeWE6KgI8v5ZWTt4BzMgGqlN4j" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".ui.AboutActivity"></activity>
    </application>

</manifest>